{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

  <div class="profilePic">
    <img class="profilePicture" src="{% static 'portfolio/profilephoto.png' %}">
    


  </div>


<div class="intro">
  <div class="introSub">
    <img class="firstCloud"src="{% static 'portfolio/cloud.png' %}">
    <h1 class="introText">Hey! I am Saurabh </h1>
    <p class="introText2">A Programmer</p>
    <img class="imgGlobe" src="{% static 'portfolio/intro.png' %}">
    <img class="secondCloud" src="{% static 'portfolio/cloud.png' %}">
    <img class="theMountain"src="{% static 'portfolio/mountain.png'%}">
  </div>
</div>

<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="portfolioObjects">
  {% for project in projects %}
  <div class="object">

    {% if project.url %}
    <div class="noImgUrl"><a  class="theImg" href="{{ project.url }}">
      <img class="theImg" src="{{ project.image.url }}">
    </a></div>
    
    {% else %}
    <div class="imgUrl">
      <img class="theImg" src="{{ project.image.url }}">
    </div>
    
    {% endif %}
    
    <h3 class="objectTitle">{{ project.title }}</h3>
    
    <p class="objectDesc">{{ project.description }}</p>
   
  </div>
  {% endfor %}
</div>

{% endblock %}
